.asscache
.classpath
.idea/
.project
.slcache/
grailsw.bat
target/
twparkingec-grailsPlugins.iml
twparkingec.iml
out/
*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld

.DS_Store
.AppleDouble
.LSOverride